Source/ApplicationServices/2Gis.Erm.BLCore.MsCRM.Plugins/Service References/ErmServiceReference/MsCrm.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://2gis.ru/erm/api/basicoperations/mscrm/2013/09" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://2gis.ru/erm/api/basicoperations/mscrm/2013/09" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://2gis.ru/erm/api/basicoperations/mscrm/2013/09/Imports">
      <xsd:import schemaLocation="https://localhost:44302/MsCrm.svc?xsd=xsd0" namespace="http://2gis.ru/erm/api/basicoperations/mscrm/2013/09" />
      <xsd:import schemaLocation="https://localhost:44302/MsCrm.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMsCrm2ErmApplicationService_UpdateAfterSaleActivity_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAfterSaleActivity" />
  </wsdl:message>
  <wsdl:message name="IMsCrm2ErmApplicationService_UpdateAfterSaleActivity_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAfterSaleActivityResponse" />
  </wsdl:message>
  <wsdl:message name="IMsCrm2ErmApplicationService_UpdateAfterSaleActivity_MsCrm2ErmErrorDescriptionFault_FaultMessage">
    <wsdl:part name="detail" element="tns:MsCrm2ErmErrorDescription" />
  </wsdl:message>
  <wsdl:message name="IMsCrm2ErmApplicationService_ReplicateDealStage_InputMessage">
    <wsdl:part name="parameters" element="tns:ReplicateDealStage" />
  </wsdl:message>
  <wsdl:message name="IMsCrm2ErmApplicationService_ReplicateDealStage_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReplicateDealStageResponse" />
  </wsdl:message>
  <wsdl:message name="IMsCrm2ErmApplicationService_ReplicateDealStage_MsCrm2ErmErrorDescriptionFault_FaultMessage">
    <wsdl:part name="detail" element="tns:MsCrm2ErmErrorDescription" />
  </wsdl:message>
  <wsdl:portType name="IMsCrm2ErmApplicationService">
    <wsdl:operation name="UpdateAfterSaleActivity">
      <wsdl:input wsaw:Action="http://2gis.ru/erm/api/basicoperations/mscrm/2013/09/IMsCrm2ErmApplicationService/UpdateAfterSaleActivity" message="tns:IMsCrm2ErmApplicationService_UpdateAfterSaleActivity_InputMessage" />
      <wsdl:output wsaw:Action="http://2gis.ru/erm/api/basicoperations/mscrm/2013/09/IMsCrm2ErmApplicationService/UpdateAfterSaleActivityResponse" message="tns:IMsCrm2ErmApplicationService_UpdateAfterSaleActivity_OutputMessage" />
      <wsdl:fault wsaw:Action="http://2gis.ru/erm/api/basicoperations/mscrm/2013/09/IMsCrm2ErmApplicationService/UpdateAfterSaleActivityMsCrm2ErmErrorDescriptionFault" name="MsCrm2ErmErrorDescriptionFault" message="tns:IMsCrm2ErmApplicationService_UpdateAfterSaleActivity_MsCrm2ErmErrorDescriptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReplicateDealStage">
      <wsdl:input wsaw:Action="http://2gis.ru/erm/api/basicoperations/mscrm/2013/09/IMsCrm2ErmApplicationService/ReplicateDealStage" message="tns:IMsCrm2ErmApplicationService_ReplicateDealStage_InputMessage" />
      <wsdl:output wsaw:Action="http://2gis.ru/erm/api/basicoperations/mscrm/2013/09/IMsCrm2ErmApplicationService/ReplicateDealStageResponse" message="tns:IMsCrm2ErmApplicationService_ReplicateDealStage_OutputMessage" />
      <wsdl:fault wsaw:Action="http://2gis.ru/erm/api/basicoperations/mscrm/2013/09/IMsCrm2ErmApplicationService/ReplicateDealStageMsCrm2ErmErrorDescriptionFault" name="MsCrm2ErmErrorDescriptionFault" message="tns:IMsCrm2ErmApplicationService_ReplicateDealStage_MsCrm2ErmErrorDescriptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>