Source/ApplicationServices/2Gis.Erm.BLCore.MsCRM.Plugins/Service References/ErmServiceReference/MsCrm.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://2gis.ru/erm/api/basicoperations/mscrm/2013/09" elementFormDefault="qualified" targetNamespace="http://2gis.ru/erm/api/basicoperations/mscrm/2013/09" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:44302/MsCrm.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="UpdateAfterSaleActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="dealReplicationCode" type="q1:guid" />
        <xs:element minOccurs="0" name="activityDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="afterSaleServiceType" type="tns:MsCrmAfterSaleServiceType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="MsCrmAfterSaleServiceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="ASS1" />
      <xs:enumeration value="ASS2" />
      <xs:enumeration value="ASS3" />
      <xs:enumeration value="ASS4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MsCrmAfterSaleServiceType" nillable="true" type="tns:MsCrmAfterSaleServiceType" />
  <xs:element name="UpdateAfterSaleActivityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:complexType name="MsCrm2ErmErrorDescription">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MsCrm2ErmErrorDescription" nillable="true" type="tns:MsCrm2ErmErrorDescription" />
  <xs:element name="ReplicateDealStage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="dealReplicationCode" type="q2:guid" />
        <xs:element minOccurs="0" name="dealStage" type="tns:MsCrmDealStage" />
        <xs:element minOccurs="0" name="userDomainName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="MsCrmDealStage">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="CollectInformation" />
      <xs:enumeration value="HoldingProductPresentation">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MatchAndSendProposition">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MsCrmDealStage" nillable="true" type="tns:MsCrmDealStage" />
  <xs:element name="ReplicateDealStageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>