BL/Source/ApplicationServices/2Gis.Erm.BL.Operations/Resources/flowOrders.DenialReason.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DenialReason">
    <xs:attribute name="Code" type="xs:long" use="required">
      <xs:annotation>
        <xs:documentation>Id причины отклонения РМ.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Заголовок пункта правил</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Description" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Краткое описание правила.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ProofLink" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Ссылка на пункт правил</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="TypeCode" type="xs:int" use="required">
      <xs:annotation>
        <xs:documentation>Тип правила.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="IsHidden" type="xs:boolean" use="required" >
      <xs:annotation>
        <xs:documentation>Признак активности правила</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:element name="DenialReason" type="DenialReason">
    <xs:annotation>
      <xs:documentation>Объект передачи причины отклонения РМ</xs:documentation>
    </xs:annotation>
  </xs:element> 
</xs:schema>