Source/ApplicationServices/2Gis.Erm.BLCore.Operations/Concrete/Integration/Schemas/flowOrders.ThemeBranch.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ThemeBranch">
    <xs:attribute name="Code" type="xs:long" use="required">
      <xs:annotation>
        <xs:documentation>Стабильный идентификатор тематической подборки проекта (связь тематической подборки и проекта)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ThemeCode" type="xs:long" use="required">
      <xs:annotation>
        <xs:documentation>Стабильный идентификатор тематической подборки</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="BranchCode" type="xs:int" use="required">
      <xs:annotation>
        <xs:documentation>Стабильный идентификатор проекта</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="IsDefault" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Признак тематической подборки проекта по умолчанию</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="IsDeleted" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Признак удаления тематической подборки проекта</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:element name="ThemeBranch" type="ThemeBranch">
    <xs:annotation>
      <xs:documentation>Объект передачи тематической подборки проекта</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>