Source/ApplicationServices/2Gis.Erm.BLCore.Operations/Concrete/Integration/Schemas/flowOrders.Theme.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Theme">
    <xs:sequence>
      <xs:element name="Rubrics" minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Rubric" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:attribute name="RubricCode" type="xs:int" use="required">
                  <xs:annotation>
                    <xs:documentation>Стабильный идентификатор рубрики</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Code" type="xs:long" use="required">
      <xs:annotation>
        <xs:documentation>Стабильный код стартовой тематики</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Наименование стартовой тематики</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Description" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Описание стартовой тематики</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ResourceCode" type="xs:long" use="required">
      <xs:annotation>
        <xs:documentation>Стабильный код ресурса тематической подборки</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Value" type="xs:base64Binary" use="required">
      <xs:annotation>
        <xs:documentation>Значение рекламного материала (баннер)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="StartDate" type="xs:dateTime" use="required">
      <xs:annotation>
        <xs:documentation>Дата начала размещения тематической подборки</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="EndDate" type="xs:dateTime" use="required">
      <xs:annotation>
        <xs:documentation>Дата окончания размещения тематической подборки</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="IsDeleted" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Признак удаленной тематической подборки</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:element name="Theme" type="Theme">
    <xs:annotation>
      <xs:documentation>Объект передачи тематической подборки</xs:documentation>
    </xs:annotation>
  </xs:element> 
</xs:schema>