Source/ApplicationServices/2Gis.Erm.BLCore.Operations/Concrete/Integration/Schemas/flowFinancialData.DebitsInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="PlatformType">
    <xs:restriction base="xs:int">
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="3"/>
      <xs:enumeration value="4"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="DebitsInfo">
    <xs:sequence>
      <xs:element name="ClientDebits">
        <xs:annotation>
          <xs:documentation>Объект передачи клиентских (местных, исходящих) списаний</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Debit" type="Debit" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RegionalDebits">
        <xs:complexType>
          <xs:annotation>
            <xs:documentation>Объект передачи региональных списаний</xs:documentation>
          </xs:annotation>
          <xs:sequence>
            <xs:element name="Debit" type="Debit" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="OrganizationUnitCode" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Код 1С отделения организации</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="StartDate" type="xs:dateTime" use="required">
      <xs:annotation>
        <xs:documentation>Дата начала периода выгрузки</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="EndDate" type="xs:dateTime" use="required">
      <xs:annotation>
        <xs:documentation>Дата окончания периода выгрузки</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="Debit">
    <xs:annotation>
      <xs:documentation>Объект передачи списания</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PlatformDistribution" minOccurs="4" maxOccurs="4">
        <xs:complexType>
          <xs:attribute name="PlatformCode" type="PlatformType" use="required">
            <xs:annotation>
              <xs:documentation>Стабильный идентификатор платформы</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Amount" type="xs:float" use="required">
            <xs:annotation>
              <xs:documentation>Сумма списания по платформе заказа</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="AccountCode" type="xs:long" use="required">
      <xs:annotation>
        <xs:documentation>Стабильный идентификатор лицевого счета</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="LegalEntityBranchCode1C" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Код 1С юридического лица отделения организации</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ProfileCode" type="xs:long" use="required">
      <xs:annotation>
        <xs:documentation>Стабильный идентификатор профиля юридического лица клиента</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="OrderNumber" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Номер заказа</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="SignupDate" type="xs:dateTime" use="required">
      <xs:annotation>
        <xs:documentation>Дата подписания</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Amount" type="xs:float" use="required">
      <xs:annotation>
        <xs:documentation>Сумма заказа</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="MediaInfo" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Информация о СМИ</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ClientOrderNumber" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Клиентский номер БЗ, для региональных списаний</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:element name="DebitsInfo" type="DebitsInfo">
    <xs:annotation>
      <xs:documentation>Объект передачи списаний за период</xs:documentation>
    </xs:annotation>
  </xs:element>

</xs:schema>
